@use 'global.scss';

.img-sponsor {
  height: 100px;
  min-width: 264px;
  border-radius: 0.2em;
  background-color: global.$light-color;
  margin: 0 auto !important;
}

.swiper-container {
  width: 82vw;
}
